.detail-quiz-container {
    display: flex;
    gap: 20px;
    .left-content {
        border: 1px solid red;
        width: 70%;
    }
    .right-content {
        border: 1px solid green;
        width: 30%;
    }
}
